<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<title>Employee 維護</title>
<style type="text/css">
	.fieldError{color: red;}
</style>
</head>
<body>
	<div class="container my-2">
		<div th:include="header :: header"></div>
		<h1>Employee 維護</h1>
		<form action="#" 
			  th:action="@{/employee/}" 
			  th:object="${employee}"
			  th:method="${_method}">
			<div class="form_group">
				<!-- id 隱藏欄位 -->
				<input type="hidden" th:field="*{id}"/>
				<label for="name">員工姓名：</label>
				<span class="fieldError" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></span>
				<input type="text" th:field="*{name}" class="form-control" />
				<label for="name">部門名稱：</label>
				<select class="form-control select2"
						th:field="*{department.id}">
					<option th:each="d:${departments}" 
							th:value="${d.id}"
							th:text="${d.name}"
							th:selected="(${d.id} eq (*{department.id}?:0))" />
				</select>
			</div>
			<br />
			<input type="submit" th:value="${_method}" class="btn btn-primary" />
		</form>
		<p />
		<h1>Employee 列表</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>序號</th><th>員工姓名</th><th>部門</th><th>編輯</th><th>刪除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.name}"></td>
					<td th:if="${employee.department}">
						<a th:href="@{/department/{id}(id=${employee.department.id})}" th:text="${employee.department.name}" />
						&nbsp;
					</td>
					<td th:unless="${employee.department}">無部門</td>
					<td>
						<a th:href="@{/employee/{id}(id=${employee.id})}">編輯</a>
					</td>
					<td>
						<a th:href="@{/employee/delete/{id}(id=${employee.id})}">刪除</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:include="footer :: footer"></div>
	</div>
</body>
</html>