<header xmlns:th="http://www.thymeleaf.org">
	<a th:href="@{/pages/}" class="btn btn-warning">PSI 資料表關聯圖</a>
	<a th:href="@{/department/}" class="btn btn-info">部門/員工資料</a>
	<a th:href="@{/customer/}" class="btn btn-info">客戶資料</a>
	<a th:href="@{/order/}" class="btn btn-info">訂單資料</a>
	<a th:href="@{/product/}" class="btn btn-info">商品資料</a>
	<a th:href="@{/suppliers/}" class="btn btn-info">供應商資料</a>
	<a th:href="@{/purchase/}" class="btn btn-info">採購單資料</a>
	<a th:href="@{/investory/}" class="btn btn-info">即時庫存資料</a>
</header>