<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<title>商品動態庫存資料檢視</title>
<style type="text/css">
	.fieldError{color: red;}
</style>
</head>
<body>
	<div class="container my-2">
		<div th:include="header :: header"></div>
		<h1>商品動態庫存資料檢視</h1>
		
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>序號</th><th>商品名稱</th><th>商品成本</th>
					<th>商品售價</th><th>採購數量</th><th>銷售數量</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="inventory : ${inventories}">
					<td th:text="${inventory.id}"></td>
					<td th:text="${inventory.name}"></td>
					<td th:text="${inventory.cost}"></td>
					<td th:text="${inventory.price}"></td>
					<td th:text="${inventory.amount1}"></td>
					<td th:text="${inventory.amount2}"></td>
				</tr>
			</tbody>
		</table>
		
		<div th:include="footer :: footer"></div>
	</div>
</body>
</html>