<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<title>PurchaseItem 維護</title>
<style type="text/css">
	.fieldError{color: red;}
</style>
</head>
<body>
	<div class="container my-2">
		<div th:include="header :: header"></div>
		<h1>Purchase 主檔資料</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>採購單主檔序號</th>
					<th>採購單主檔日期</th>
					<th>供應商</th>
					<th>經手員工</th>
					<th>採購單總細目筆數</th>
					<th>採購總價</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${ purchase.id }" ></td>
					<td th:text="${ purchase.date }" ></td>
					<td th:text="${ purchase.supplier.name }" ></td>
					<td th:text="${ purchase.employee.name }" ></td>
					<td th:text="${ #lists.size(purchase.purchaseItems) }" ></td>
					<td th:text="${ purchase.total }"></td>
				</tr>
			</tbody>
		</table>
		<p />
		<h1>PurchaseItem 明細資料</h1>
		
		<p />
		<h1>PurchaseItem 資料維護</h1>
		<form th:action="@{/purchase/{pid}/item(pid=${purchase.id})}"
			  th:object="${purchaseItem}"
			  th:method="${_method}">
			<input type="hidden" id="purchase.id" name="purchase.id" 
				   th:value="${pid}" class="form-control" />
			<div class="form-group" th:if="*{id} != null">
				<label for="purchaseItem.id">採購項目序號：</label>
				<input type="text" readonly="readonly"
					   th:field="*{id}" class="form-control">
			</div>
			<div class="form-group">
				<label for="product.id">商品：</label>
				<select class="form-control select2" th:field="*{product.id}">
					<option th:each="p:${products}" th:value="${p.id}" th:text="${p.name} + ' $' + ${p.cost}" />
				</select>
			</div>
			<div class="form-group">
				<label for="purchaseItem.amount">數量：</label>
				<input type="number" th:field="*{amount}" class="form-control" />
			</div>
			<input type="submit" 
				   th:value="(*{id} == null ? '新增採購項目' : '修改採購項目')"
				   class="btn btn-primary">
		</form>
		<div th:include="footer :: footer"></div>
	</div>
</body>
</html>